;{:source-paths ["src"]
; :dependencies []
; :builds
; {:frontend  ; This must match the build ID you use in commands
;  {:target :browser
;   :output-dir "public/js"
;   :asset-path "/js"
;   :modules {:main {:entries [clojure-crud.core]}}}}}